*vrb
figure-sonar-comparisons-data.csv
figure-sonar-comparisons-data*.csv
auto
*.toc
*.nav
*.out
*.snm
tikzMetrics
figure-fn-not-monotonic-error-standAlone.tex
figure-*/
*.gz
.Rhistory
figure-neuroblastomaProcessed-complex
Rplots.pdf
library
*~
README.html
*.aux
*.log
.httr-oauth
